<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <title>Añadir producto</title>
    </head>
    <body class="p-3 mb-2 bg-dark text-white">

        <div>
            <h1 th:text="${producto.nombre != null} ? 'Editar Producto' : 'Añadir Producto'">Formulario Producto</h1>
            <br>
            <form th:action="${producto.nombre != null} ? @{'/productos/update'} : @{'/productos/add'}"  method="POST">
                <input type="hidden" name="id" th:value="${producto.id}" />
                <div class="mb-3">
                    <label class="form-label">Nombre</label>
                    <input type="text" class="form-control" name="nombre" th:value="${producto.nombre}" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Precio</label>
                    <input type="number" class="form-control" name="precio" step="0.01" th:value="${producto.precio}" required>
                </div>
                <button type="submit" class="btn btn-success" th:text="${producto.id != null && producto.id > 0} ? 'Actualizar' : 'Añadir'"></button>
                <a class="btn btn-success" href="/productos" role="button">Cancelar</a>            
            </form>            
        </div>

    </body>
</html>